<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">Social Media</ion-title>
    <ion-buttons slot="start">
      <ion-back-button href="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col> 
      <ion-card>
        <img alt="Trabajo" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Finanzas personal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>   
  
      <ion-col>
        <ion-card>
          <img alt="Deportes" src="./../../assets/fotos/salud.png">
          <ion-card-header>
            <ion-card-title>Desarrollo Power BI</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card> 
          <img alt="Salud" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Business Analytics</ion-card-title>
          </ion-card-header>
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Transporte" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Desarrollo Web</ion-card-title>
          </ion-card-header>
        </ion-card>    
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Educacion" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Blockchain</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Cultura" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Excel Basico</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    

