<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/profile']">
    <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>Social Media</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-searchbar show-cancel-button="focus" placeholder="Show on Focus"></ion-searchbar>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col> 
      <ion-card>
        <img alt="Trabajo" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Finanzas personal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>   
  
      <ion-col>
        <ion-card>
          <img alt="Deportes" src="./../../assets/fotos/salud.png">
          <ion-card-header>
            <ion-card-title>Desarrollo Power BI</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card> 
          <img alt="Salud" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Business Analytics</ion-card-title>
          </ion-card-header>
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Transporte" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Desarrollo Web</ion-card-title>
          </ion-card-header>
        </ion-card>    
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Educacion" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Blockchain</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Cultura" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Excel Basico</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    

