<ion-header>
  <ion-toolbar>
    <ion-title>Educacion</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-searchbar show-cancel-button="focus" placeholder="Show on Focus"></ion-searchbar>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col> 
      <ion-button [routerLink]="['/']">
        <ion-icon name="briefcase-outline" ></ion-icon>
        <h6>Inversiones</h6>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/']">
          <ion-icon name="american-football-outline"></ion-icon>
          <h6>Social Media</h6>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button [routerLink]="['/']">
          <ion-icon name="medkit-outline"></ion-icon>
          <h6>Negociación</h6>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/']">
          <ion-icon name="bus-outline"></ion-icon>
          <h6>Curso Web</h6>
        </ion-button>    
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button [routerLink]="['/']">
          <ion-icon name="library-outline"></ion-icon>
          <h6>Creatividad</h6>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/']">
          <ion-icon name="earth-outline"></ion-icon>
          <h6>Deportes</h6>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
