<ion-header>

  <ion-toolbar color="primary">
    <ion-title slot="end">Cultura</ion-title>
    <ion-buttons slot="start">
      <ion-back-button href="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col> 
      <ion-card>
        <img alt="Trabajo" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>AECOTEC 2022</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>   
  
      <ion-col>
        <ion-card>
          <img alt="Deportes" src="./../../assets/fotos/salud.png">
          <ion-card-header>
            <ion-card-title>EXPERENCIA ENDEAVOR</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Salud" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>STARTUP WEEKEND</ion-card-title>
          </ion-card-header>
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Transporte" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>TEATRO EL CIRCULO</ion-card-title>
          </ion-card-header>
        </ion-card>    
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Educacion" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>EVENTO 1</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Cultura" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>EVENTO 2</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Educacion" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>EVENTO 3</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Cultura" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>EVENTO 4</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
