<link rel="stylesheet" href="tablinks.page.scss">

  <ion-tabs>
    
    <ion-tab-bar color="primary" slot="bottom" class="tabs">
      <ion-tab-button tab="profile">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" class="tabs">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings" class="tabs">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
