<link rel="stylesheet" href="tablinks.page.scss">

<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="profile">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Recetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" class="tabs">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tabs">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>