<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">Deportes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button href="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col> 
      <ion-card>
        <img alt="Trabajo" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Basquet</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>   
  
      <ion-col>
        <ion-card>
          <img alt="Deportes" src="./../../assets/fotos/salud.png">
          <ion-card-header>
            <ion-card-title>Natacion</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card> 
          <img alt="Salud" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Futbol</ion-card-title>
          </ion-card-header>
        </ion-card>
        
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Transporte" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Remo</ion-card-title>
          </ion-card-header>
        </ion-card>    
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Educacion" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Handball</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Cultura" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Futbol sala</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-card>
          <img alt="Educacion" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Funcional</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Cultura" src="./../../assets/fotos/salud.png" />
          <ion-card-header>
            <ion-card-title>Ciclismo</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
