<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="end">Transporte</ion-title>
    <ion-buttons slot="start">
      <ion-back-button href="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Colectivos</ion-card-title>
    </ion-card-header>
    <img src="https://www.diariodecuyo.com.ar/export/sites/diariodecuyo/img/2018/04/21/ddc220418-017f02.jpg" />
    <ion-card-content>
      Viaja cómodo y tranquilo por toda la ciudad
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Taxis</ion-card-title>
    </ion-card-header>
    <img src="https://www.mendozapost.com/files/image/43/43945/55f81d7f9963e.jpg" />
    <ion-card-content>
      Conoce los lugares que más quieras de la ciudad en este taxi adaptado
    </ion-card-content>
  </ion-card>
</ion-content>
