<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/profile']">
      <ion-icon name="arrow-undo-outline"></ion-icon>
    </ion-button>
    <ion-title>transporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Colectivo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Conoce los mejores lugares de la ciudad para acceder al transporte publico
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Taxis</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Conoce los lugares de la ciudad mas comodo para tomar un taxi
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>no tengo idea</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
