<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col> 
    <ion-card [routerLink]="['/Trabajo']">
      <img alt="Trabajo" src="./../../assets/fotos/salud.png" />
        <ion-card-header>
          <ion-card-title>Trabajo</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>   

    <ion-col>
      <ion-card [routerLink]="['/Deportes']">
        <img alt="Deportes" src="./../../assets/fotos/salud.png">
        <ion-card-header>
          <ion-card-title>Deportes</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-card [routerLink]="['/Salud']"> 
        <img alt="Salud" src="./../../assets/fotos/salud.png" />
        <ion-card-header>
          <ion-card-title>Salud</ion-card-title>
        </ion-card-header>
      </ion-card>
      
    </ion-col>
    <ion-col>
      <ion-card [routerLink]="['/Transporte']">
        <img alt="Transporte" src="./../../assets/fotos/salud.png" />
        <ion-card-header>
          <ion-card-title>Transporte</ion-card-title>
        </ion-card-header>
      </ion-card>    
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-card [routerLink]="['/Educacion']">
        <img alt="Educacion" src="./../../assets/fotos/salud.png" />
        <ion-card-header>
          <ion-card-title>Educacion</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card [routerLink]="['/Cultura']">
        <img alt="Cultura" src="./../../assets/fotos/salud.png" />
        <ion-card-header>
          <ion-card-title>Cultura</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



 
  
  
  <!--
<ion-content>
  <ion-card>

  <ion-button shape="round" [routerLink]="['/Trabajo']" wi>
    <ion-icon name="briefcase-outline" ></ion-icon>
    Trabajo
  </ion-button>

  <ion-button shape="round" [routerLink]="['/Deportes']">
    <ion-icon name="american-football-outline"></ion-icon>
    Deportes
  </ion-button>
  

</ion-card>

    <ion-card>
  <ion-button shape="round" [routerLink]="['/Salud']">
    <ion-icon name="medkit-outline"></ion-icon>
    Salud
  </ion-button>

  <ion-button shape="round" [routerLink]="['/Transporte']">
    <ion-icon name="bus-outline"></ion-icon>
    Transporte
  </ion-button>

</ion-card>

<ion-card>
  <ion-button shape="round" [routerLink]="['/Educacion']">
    <ion-icon name="library-outline"></ion-icon>
    Educacion
  </ion-button>

  <ion-button shape="round" [routerLink]="['/Cultura']">
    <ion-icon name="earth-outline"></ion-icon>
    Cultura
  </ion-button>
</ion-card> 

</ion-content>
-->